<div class="container">
  <div class="todo-item" *ngFor="let task of taskList; index as i">
    <div class="todo-item-left">
      <div style="padding: 4px;">
        <input
          type="checkbox"
          [(ngModel)]="task.done"
          (change)="
            editTask(
              task.id,
              task.label,
              task.description,
              task.category,
              task.done
            )
          "
        />
      </div>
      <div class="labelDiv">
        <b>Title:</b
        ><input
          type="textarea"
          [(ngModel)]="task.label"
          class="labelDiv"
          #Label
          *ngIf="enableEdit && enableEditIndex == i"
        />
        <span *ngIf="!(enableEditIndex == i)" class="labelDiv">{{
          task?.label
        }}</span>
      </div>

      <div class="descriptionDiv">
        <b>Description:</b
        ><input
          type="textarea"
          [(ngModel)]="task.description"
          class="descriptionDiv"
          #Description
          *ngIf="enableEdit && enableEditIndex == i"
        />
        <span *ngIf="!(enableEditIndex == i)" class="descriptionDiv">{{
          task?.description
        }}</span>
      </div>
      <div class="labelDiv">
        <b>Category:</b>
        <input
          type="textarea"
          [(ngModel)]="task.category"
          class="labelDiv"
          #Category
          *ngIf="enableEdit && enableEditIndex == i"
        />
        <span *ngIf="!(enableEditIndex == i)" class="labelDiv">{{
          task?.category
        }}</span>
      </div>
      <div style="padding: 4px;">
        <button
          *ngIf="enableEdit && enableEditIndex == i"
          id="saveBtn"
          (click)="
            editTask(
              task.id,
              task.label,
              task.description,
              task.category,
              task.done
            )
          "
          class="button buttonRoundCorner"
        >
          Save
        </button>
      </div>
      <div style="padding: 4px;">
        <button
          (click)="enableEditMethod($event, i)"
          class="buttonWhite buttonRoundCorner"
        >
          &#x270D;
        </button>
      </div>
      <div style="padding: 4px;">
        <button
          (click)="delTask(task.id)"
          class="buttonWhite buttonRoundCorner"
        >
          &#x274C;
        </button>
      </div>
    </div>
  </div>
</div>
<div class="extra-container">
  <div>
    <button
      [ngClass]="{ active: filter === 'all' }"
      (click)="filter('all')"
      class="buttonBlue buttonRoundCorner"
    >
      All
    </button>
    <button
      [ngClass]="{ active: filter === 'active' }"
      (click)="filter('active')"
      class="buttonBlue buttonRoundCorner"
    >
      To-Do
    </button>
    <button
      [ngClass]="{ active: filter === 'completed' }"
      (click)="filter('done')"
      class="buttonBlue buttonRoundCorner"
    >
      Done
    </button>
  </div>
</div>
<div class="inputArea">
  <input type="text" class="todo-input" placeholder="Title" #Title /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Description"
    #Description
  /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Category"
    #Category
  /><br />
  <button
    class="button buttonRoundCorner"
    (click)="
      addTask(maxid, Title.value, Description.value, Category.value, false)
    "
  >
    Add
  </button>
</div>
