<div class="container">
  <div class="todo-item" *ngFor="let task of taskList; index as i">
    <div class="todo-item-left">
      <div style="padding: 4px;">
        <input type="checkbox" [(ngModel)]="task.done" />
      </div>
      <div class="labelDiv">
        <b>Title:</b
        ><input
          type="textarea"
          value="{{ task?.label }}"
          class="labelDiv"
          #Label
          *ngIf="showEdit"
        />
        <span *ngIf="!showEdit" class="labelDiv">{{ task?.label }}</span>
      </div>

      <div class="descriptionDiv">
        <b>Description:</b
        ><input
          type="textarea"
          value="{{ task?.description }}"
          class="descriptionDiv"
          #Description
          *ngIf="showEdit"
        />
        <span *ngIf="!showEdit" class="descriptionDiv">{{
          task?.description
        }}</span>
      </div>
      <div class="labelDiv">
        <b>Category:</b>
        <input
          type="textarea"
          value="{{ task?.category }}"
          class="labelDiv"
          #Category
          *ngIf="showEdit"
        />
        <span *ngIf="!showEdit" class="labelDiv">{{ task?.category }}</span>
      </div>
      <div style="padding: 4px;">
        <button class="button buttonRoundCorner" (click)="showEditArea(maxid)">
          Edit
        </button>
      </div>
      <div style="padding: 4px;" (click)="delTask(task.id)">
        &#x274C;
      </div>
    </div>
  </div>
</div>
<div class="inputArea">
  <input type="text" class="todo-input" placeholder="Title" #Title /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Description"
    #Description
  /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Category"
    #Category
  /><br />
  <button
    class="button buttonRoundCorner"
    (click)="
      addTask(maxid, Title.value, Description.value, Category.value, false)
    "
  >
    Add
  </button>
</div>
<!-- <div class="editArea" *ngIf="showEdit">
  <input type="text" class="todo-input" placeholder="Title" #Title /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Description"
    #Description
  /><br />
  <input
    type="textarea"
    class="todo-input"
    placeholder="Category"
    #Category
  /><br />
  <button
    class="button buttonRoundCorner"
    (click)="
      editTask(maxid, Title.value, Description.value, Category.value, false)
    "
  >
    Update
  </button>
</div> -->
<!-- <div class="extra-container">
  <div>
    <label
      ><input
        type="checkbox"
        (change)="checkAllTodos()"
        [(ngModel)]="!anyRemainingModel"
      />
      Check All</label
    >
  </div>
  <div>{{ remaining() }} items left</div>
</div>

<div class="extra-container">
  <div>
    <button [ngClass]="{ active: filter === 'all' }" (click)="filter = 'all'">
      All
    </button>
    <button
      [ngClass]="{ active: filter === 'active' }"
      (click)="filter = 'active'"
    >
      Active
    </button>
    <button
      [ngClass]="{ active: filter === 'completed' }"
      (click)="filter = 'completed'"
    >
      Completed
    </button>
  </div>
</div> -->
